.meals {
    width: 90%;
    max-width: 60rem;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out;
  }
  
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  h4{
    margin: 0;
  }
  .card{
    padding: 1.5rem;
    max-width: 90%;
    margin: auto;
  }
  .redText {
    color: red;
    font-weight: bold;
  }