h4{
    margin: 0;
  }
  .card{
    max-width: 90%;
    margin: auto;
  }
  .redText {
    color: red;
    font-weight: bold;
  }

  .container{
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;
  }
  li{
      border-bottom: 1px solid #ccc;
  }